<<<<<<< HEAD
<% if (typeof success !== 'undefined' && success && success.length) { %>
=======
<% if (success && success.length) { %>
>>>>>>> 842a806231a2f9b87e031175153213b95fd15288

<div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert" >
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<%}%>

<<<<<<< HEAD
<% if (typeof error !== 'undefined' && error && error.length) { %>
=======
<% if (error && error.length) { %>
>>>>>>> 842a806231a2f9b87e031175153213b95fd15288

<div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert" >
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<%}%>